<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <% include layout/layout.ejs %>

    <h1 style="color: purple"><%= title %></h1>
    <p style="color: blue"><%= name %> provides you to so many food items to grow your belly!!</p>


</body>
</html>
