<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include layout/layout.ejs %>

    <h1 style="color: darkgreen"><%= videodata.categoryName %></h1>
    <ul>
        <% videodata.categories.forEach( function (item) {  %>


            <li>  <%= item.categoryName %> </li>
            <span> </span> <p style="color: darkslategray"> <%= item.categoryDescription %> </p>


        <% }); %>

    </ul>
  </body>
</html>
